*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 300px;
    background-color: bisque;
}



.box{
    height: 33.33%;
    width: 33.33%;
    border: 1px solid;
    text-align: center;
    font-size: 50px;
}